main{
    @include estilo-main; 
    p{
        margin: 5%;
    }
    .carousel-inner{
        width: 45vw;
        margin: auto;
        max-width: 100%;
        height: auto;
        display: block;
        }
    @include mobile{
        main{
        display: flex;
        flex-direction: column;
        }
    }
}