    main{
    @include estilo-main; 
    
    .productos{    
        display: block;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0 auto;
    }
    .imagen-tienda{
        height: auto;
        max-width: 100%;
        width: 10vw;
        
    }
    @include mobile{
        main{
            display: flex;
            flex-direction: column;
        }
        .imagen-tienda{
        max-width: 80%;
        height: auto;
        display: grid;
        margin: 10 auto;
        }
    }
}