@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 7fr 1fr;
    background-color: lightgray;
}

.header{
    grid-column: 1 / 4;
    grid-row: 1 / 2 ;
    display: grid;
}

.main{
    grid-column: 1 / 4;
    grid-row 2 / 3 ;
    display: grid;
    justify-items: center;
    align-items: center; 
    }
    



.footer{
    grid-column: 1 / 4;
    grid-row: 3 / 4 ;
    display: grid;
    
    
}

.derechos-reservados{
    text-align: left;
    font-size: 130%;
}




h1{
    color: darkslategrey;
    text-align: center;
    font-size: 300%;
    font-weight: 150;


}

li{
    text-align: center;
    list-style: none;
    font-size: 120%;
    
}

.logo{

    height: 30vh;
    width: 15vw;
    border-radius: 50%;
    display: flex;
    margin: auto;
    
}

.rrss{
    height: 6vh;
    width: 3vw;
    
}
.Carrusel{
    height: 120vh;
    width: 60vw;
    display: grid;
    margin: auto;
}

.equipo{
    height: 80vh;
    width: 40vw;
    display: flex;
    margin: auto;
    
}
.ideas-productos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.ideas-dormitorio{
    height: 70vh;
    width: 35vw;
}

.ideas-living{  
    height: 70vh;
    width: 35vw;
}

.ideas-baño{
    height: 70vh;
    width: 35vw;
}



form{

    color: black;
    font-size: 80%;
    font-weight: 300;
    text-align: left;
    margin: 5%;
}


p{
    color: black;
    font-size: 70%;
    font-weight: 250;
    text-align: center;
    margin: 5%;
}


.productos{    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.imagen-tienda{
    height: 40vh;
    width: 20vw;
}

.carousel-inner{
    height: 80vh;
    width: 40vw;
    display: block;
    margin: auto;
}

@media (min-width 375px) and (max-width 767px){
    
    
    

    main{
        display: flex;
        flex-direction: row;
    }
    
    .ideas-baño{
        max-width: 100%;
    height: auto;
    display: block;
    }

    }




    }




